.stats-wrapper {
    background-color: #0056D6;
    border-radius: 10px;
    padding: 30px 0;
}

.stats-heading {
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 60px;
    text-align: center;
    color: #FEFEFE;
    padding: 30px 40px;
}

.stats-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85vw;
}

.stats-info {
    padding: 3rem 6rem;
}

.stats-title {
    font-style: normal;
    font-weight: 600;
    font-size: 70px;
    line-height: 110%;
    color: #FEFEFE;
    position: relative;
}

.stats-title::after {
    position: absolute;
    content: '';
    height: 3px;
    bottom: -4px;
    left: 0;
    width: 76px;
    background: white;
}

.stats-text {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    display: flex;
    align-items: center;
    color: #FDFDFD;
    padding-top: 30px;
}