.feature-container {
    margin-top: 22rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature-content {
    padding: 30px 60px;
    width: 85vw;
    display: flex;
}

.feature-info {
    padding: 3rem 2rem;
}

.info-boxes-img-container {
    display: flex;
    justify-content: center;
    padding-bottom: 30px;
}

h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 24px;
    text-align: center;
    color: #424242;
    padding-bottom: 20px;
}

p {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #757575;
    padding: 0 30px;
}